$borderColor: #ecf0f3;
$textColor: #272343;
$primaryColor: #f64e60;
$primaryColorLight: #f64e5f4d;
$secondaryColor: #1bc5bd;
$secondaryColorLight: #c9f7f5;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
	font-weight: 400;
}

.header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid $borderColor;
}

.brand {
	display: flex;
	align-items: center;
	&__fancy {
		position: relative;
		width: 60px;
		height: 60px;
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
		border: 2px solid $primaryColorLight;
	}
	&__text {
		position: relative;
		left: -38px;
		color: $primaryColor;
		font-size: 30px;
		font-weight: 500;
	}
	&__background {
		position: absolute;
		top: 19px;
		right: -2px;
		width: 20px;
		height: 23px;
		background-color: white;
	}
}

.topbar {
	display: flex;
	&__item {
		position: relative;
		padding: 28px 20px;
		color: $textColor;
		font-weight: 500;
		transition: 0.2s color;
	}
	&__item:hover {
		color: $primaryColor;
		cursor: pointer;
	}
	&__item.active {
		color: $primaryColor;
	}
	&__item::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		display: none;
		width: 50px;
		height: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		// background-color: $primaryColor;
	}
	.active.topbar__item::after {
		display: block;
		background-color: $primaryColor;
	}
}

.paper {
	margin-top: 80px;
}
